<h1>Contact Me</h1>
<div class="divider"></div>
<div class="section">
    <a href="mailto:chelsiechey@gmail.com"><i class="material-icons black-text" style="vertical-align: -6px;">mail_outline</i></a>
    <span>Send me an email!</span>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Section 2</h5>
    <p>Stuff</p>
</div>
