<h1>Categories</h1>
<ul>
    <% @categories.each do |c| %>
        <li><%= link_to c.name, [@course, c] %></li>
    <% end %>
</ul>

<%= link_to 'Add Category', new_course_category_path(@course) %>
<br /><br />
<%= link_to 'Back', education_courses_path(@course.education, @course) %>
