<h1><%= @category.name %></h1>
<%= link_to 'Edit', edit_course_category_path(@course) %>
<br /><br />
<%= link_to 'Delete', [@course, @category], method: :delete %>
<br /><br />
<%= link_to 'Back', course_categories_path(@course) %>
