<h1>Computer Science Courses</h1>
<ul>
    <% @educations.each do |e| %>
        <% e.courses.each do |c| %>
            <% c.categories.each do |k| %>
                <% if k.name == 'Computer Science' %>
                    <li><%= k.course.name %></li>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</ul>