<nav>
    <div class="nav-wrapper deep-purple lighten-3">
        <a href="/pages/home" class="brand-logo right">Chelsie Conrad</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Project</a></li>
            <li><a href="/educations">Education</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
